<p>Forgot Password</p>
<p>
Username: <input type="text" #uname>
</p>
<p>
Email: <input type="text" #email>
</p>
<p>
Mobile No: <input type="text" #mobile>
</p>

  <button 
  type="button" 
  class="btn btn-primary" 
  (click)="onRetrievePassword(uname.value, email.value, mobile.value)"
  (click)="openModal(template)">
  Retrieve Password
  </button>
  <ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{isCorrect ? 'SUCCESS' : 'ERROR'}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{isCorrect ? 'Your password is: ' + password : errMsg}}
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" 
      (click)="checkIfCorrect()">
      {{isCorrect ? 'Back to Login Page' : 'Close' }}</button>
    </div>
</ng-template>
